<ion-header>
  <ion-toolbar>
    <ion-title>titans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>{{mode}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>{{players}}</ion-label>
  </ion-item>

  <ion-item *ngFor="let item of gods">
    <ion-img [src]="item"></ion-img>
  </ion-item>

  <ion-button (click)="shuffle()" shape="round" expand="full">Shuffle</ion-button>
  <ion-button (click)="closeModal()" shape="round" expand="full">Close</ion-button>

</ion-content>