<ion-header>
  <ion-toolbar>
    <ion-title>
      Classic Cyclades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="abrirModal()">
    <ion-list>
      <ion-item>
        <ion-label>#Players</ion-label>
        <ion-input class="ion-text-right" type="tel"></ion-input>
      </ion-item>

      <ion-radio-group>
        <ion-list-header>
          <ion-label>Mode:</ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>Classic</ion-label>
          <ion-radio slot="start" value="classic" checked></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Titans</ion-label>
          <ion-radio slot="start" value="titans"></ion-radio>
        </ion-item>
      </ion-radio-group>
      
    </ion-list>

    <ion-button shape="round" expand="block" type="submit">Shuffle</ion-button>

  </form>


</ion-content>