<ion-header>
  <ion-toolbar>
    <ion-title>Cyclades Shuffle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="homeForm" (ngSubmit)="openCycladesModal()">
    <ion-list>
      <ion-item>
        <ion-label>#Players:</ion-label>
        <ion-input type="number" formControlName="players" class="ion-text-right"></ion-input>
      </ion-item>
      <ion-radio-group formControlName="mode">
        <ion-item>
          <ion-label>Mode:</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Classic</ion-label>
          <ion-radio slot="start" value="classic" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Titans</ion-label>
          <ion-radio slot="start" value="titans"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-button type="submit" shape="round" expand="full">Shuffle</ion-button>

    </ion-list>
  </form>

</ion-content>